<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Video Player</title>
    <script src="https://cdn.dashjs.org/latest/dash.all.min.js"></script>
  </head>
  <body>
    <div>
        <h1>Playing Video: {{videoId}}</h1>

        <video
        id="videoPlayer"
        controls
        autoplay
        style="width: 100%; max-width: 720px;"
        ></video>

        <div id="playPauseBtn">Play</div>

        <script src="/public/js/player.js"></script>
    </div>
  </body>
</html>