
global
  maxconn 4096
  log stdout local0

defaults
  log               global
  retries           3
  maxconn           2000
  timeout http-keep-alive 120s
  timeout connect   10s
  timeout client    50s
  timeout server    50s
  no log

frontend website
    bind *:80
    default_backend webservers

frontend prometheus
  bind *:8405
  mode http
  http-request use-service prometheus-exporter
  no log

backend webservers
    filter compression
    compression algo gzip
    compression type text/css text/html text/javascript application/javascript text/plain text/xml application/json
    compression offload
    balance leastconn
    server web2 130.245.136.74:3000 check
    server web3 130.245.136.219:3000 check
    server web4 130.245.136.154:3000 check
    server web5 130.245.136.244:3000 check
    server web6 130.245.136.36:3000 check
    server web7 130.245.136.34:3000 check
